@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --light-border-color: #edf5e1;
    --button-background-color: #05386b;
    --dark-background: #379683;
    --light-background: #5cdb95;
    --text-color: #edf5e1;
    --dark-text-color: #05386b;
}

/* rever importação de fonte*/
body {
    color: var(--text-color);
    font-family: 'Roboto';
    margin: 0;
}

/* header*/
.header {
    font-size: 24px;
    padding: 5px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background);
}

ul {
    font-size: 12px;
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* intro box*/
#intro-box {
    background-color: var(--dark-background);
    height: 250px;
    padding: 50px 300px;
    display: flex;
    gap: 15px;
}

.left-block {
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

.title {
    font-size: 3vw;
    font-weight: 800;
    text-align: left;
}

.image {
    /*     background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    max-width: 80%;    
    margin: auto;
    border-color: var(--light-border-color);
    border-style: solid;
    border-radius: 12px;
}

/* content elements*/
.content {
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--button-background-color);
}

.content-title {
    font-weight: 800;
    font-size: 36px;
    color: var(--dark-text-color);
}

.images-text-list {
    padding: 50px 0px;
    display: flex;
    gap: 45px;
}

.link-something {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: auto;
}

.random-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.random-image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 3px solid var(--button-background-color);
    border-radius: 12px;
}

.text-image {
    text-align: center;
}

button {
    background-color: var(--button-background-color);
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: var(--text-color);
}

/* quotes */
.quotes {
    background-color: var(--light-background);
    color: var(--dark-text-color);
    max-height: 200px;
    padding: 100px 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quote {
    font-size: 2vw;
    font-style: italic;
    font-weight: 300;
}

.author {
    align-self: flex-end;
    font-weight: 700;
}

/*call action*/
.call-action-box {
    padding: 40px 100px;
    background-color: var(--light-background);
    color: var(--text-color);
    border-radius: 5px;
    margin: 125px 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.call-action-box button {
    border: 1px solid var(--text-color);
    justify-content: flex-end;
    align-self: center;
}

.call-text {
    font-size: 18px;
    font-weight: 500;
}

.sign-up-text {
    font-size: 12px;
}

/*footer*/
.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-text-color);
}