@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* rever importação de fonte*/
body {
    color: #f9faf8;
    font-family: 'Roboto';
    margin: 0;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header*/
.header {
    font-size: 24px;
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    font-size: 12px;
    list-style: none;
    gap: 15px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

/* intro box*/
#intro-box {
    background-color: #1f2937;
    height: 250px;
    padding: 50px 200px;
    display: flex;
    gap: 15px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-align: left;
}

.left-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1 1 100%;
}

.image {
    background-color: gray;
    display: flex;
    flex: 1 1 100%;
}

/* content elements*/
.content {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
}

.content-title {
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
}

.images-text-list {
    padding: 50px 0px;
    display: flex;
    gap: 45px;
}

.link-something {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    height: auto;
}

.random-image {
    border: 3px solid #3882f6;
    border-radius: 12px;

    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-image {
    text-align: center;
}

button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: #e5e7eb;
}

/* quotes */
.quotes {
    background-color: #e5e7eb;
    color: #1f2937;
    max-height: 200px;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    align-self: flex-end;
    font-weight: 700;
}

/*call action*/
.call-action-box {
    padding: 40px 100px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    margin: 125px 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 8px;

}

.call-action-box button {
    border-style: solid;
    border-color: #e5e7eb;
    justify-content: flex-end;
    align-self: center;
}

.call-text {
    font-size: 18px;
    font-weight: 500;
}

.sign-up-text {
    font-size: 12px;
}

/*footer*/
.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}